@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 1.8;
}

body {
  background-color: #2c3636;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Muli", sans-serif;
}

#container {
  background-color: #000;
  box-shadow: 0px 0px 10px 1px #51ecda66;
  border-radius: 10px;
  padding: 2rem;
  width: clamp(300px, 40vw, 500px);
}

#title {
  text-align: center;
  font-size: 1.5rem;
}

#result-container {
  background-color: rgb(43, 40, 40);
  display: flex;
  min-height: 50px;
  margin: 20px 0;
}

#result {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-family: inherit;
  word-wrap: break-word;
  padding: 1rem;
  transition: background-color 0.2s ease;
}

#copy-to-clipboard-button {
  background-color: rgb(105, 255, 205);
  border: none;
  cursor: pointer;
  min-width: 50px;
}

.field {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.field > label {
  font-size: 1rem;
}

.field > input[type="checkbox"] {
  accent-color: rgb(105, 255, 205);
  width: 50px;
}

#generate-password-button {
  background-color: rgb(105, 255, 205);
  border: none;
  border-bottom: 1px solid rgb(105, 255, 205);
  border-radius: 3px;
  cursor: pointer;
  color: rgb(35, 39, 35);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 25px;
  padding: 0.75rem;
  width: 100%;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

@media only screen and (hover: hover) {
  #copy-to-clipboard-button:hover {
    background-color: rgb(76, 194, 154);
  }

  #generate-password-button:hover {
    background-color: rgb(35, 75, 68);
    color: rgb(105, 255, 205);
  }
}
