@media only screen and (hover: hover) {
  .btn:hover {
    background-color: #0dff67;
  }

  .thumb:hover {
    background-color: #0dff67;
  }
}

@media only screen and (prefers-reduced-motion: no-preference) {
  .notification--hidden {
    animation: hide 0.5s ease forwards;
  }

  .notification--show {
    display: flex;
    animation: show 0.5s ease forwards;
  }
}
